/* Navbar */

.navbar-brand {
    position:relative;
}

#logo {
    width: 50px;
}

#movielovers-title {
    color: #fff;
    position: absolute;
    bottom: -2px;
    font-size: 30px;
    left: 55px;
    font-weight: bold;
}

#main-navbar {
    background-color: #121212;
}

#search-form {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    width: 50%;
    margin-left: 180px;
}

#search-form .form-control {
    border:none; 
    width: 90%;
    box-shadow: none;
}

#navbar {
    min-width: 30%;

}

.navbar-nav {
    justify-content: flex-end;
    width: 100%;
}

.bold {
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
    color:#fff; 
    transition: 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
    color:#999; 
}

.msg-container {
    background-color: #000;
    padding: 15px;

}

.msg {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border: solid 1px #000;
    text-align: center;
}

.msg.error {
    color: #842029;
    background-color: #F8D7DA;
    border-color: #F5C2C7;
}

.msg.success {
    color: #0F5132;
    background-color: #D1E7DD;
    border-color: #BADBCC;
}

/* Home */

#main-container {
    background-color: #000;
    color: #fff;
    min-height: 65vh;
    padding: 40px;
}

/*footer*/

#footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px;
}

#social-container ul,
#footer-links-container ul {
    list-style-type: none;
    padding: 0;
}

#social-container li,
#footer-links-container li {
    display: inline-block;
    margin: 0 20px;
}

#social-container li {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    transition: .3;
    line-height: 3;
}

#social-container li:hover {
    background-color: #333;
}

#social-container a,
#footer-links-container a {
    color: #fff;
    transition: .3s;
}

#social-container li i {
    font-size: 25px;
}

#footer-links-container {
    margin: 30px 0;
}